.App {
  text-align: center;
}

.canvas {
  z-index: 1;
  height: 100%;
  width: 100%;
}

.canvas-container {
  height: 375px;
  width: 375px;
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
}

.canvas-img {
  position: relative;
  height: 375px;
  width: 375px;
}

.gallery-img {
  height: 100px;
  width: 100px;
  display: inline-block;
}

.doodle-container {
  position: relative;
}

.doodle {
  position: absolute;
  height: 100px;
  width: 100px;
  z-index: 3;
}

.bg-img {
  height: 100px;
  width: 100px;
  object-fit: cover;
  object-position: 0 100%;
  z-index: 1;
}
