.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #282c34;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.canvas {
  z-index: 1;
  height: 100%;
  width: 100%;
}

.canvas-container {
  height: 375px;
  width: 375px;
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
}

.canvas-img {
  position: relative;
  height: 375px;
  width: 375px;
}

.gallery-img {
  height: 100px;
  width: 100px;
  display: inline-block;
}

.doodle-container {
  position: relative;
}

.doodle {
  position: absolute;
  height: 100px;
  width: 100px;
  z-index: 3;
}

.bg-img {
  height: 100px;
  width: 100px;
  object-fit: cover;
  object-position: 0 100%;
  z-index: 1;
}