@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");


* {
  box-sizing: border-box;
}

.body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

.header {
  display: flex;
  flex-direction: column;
  background-color: #f1f1f1;
  border: 4px solid #98d4cd;
  border-radius: 15px;
  padding: 2vmin 2vmin;
  height: auto;
  /* position: absolute; */
  width: 35vw;
  float: left;
}

/* search bar */
.friendSearch {
  /* display: -ms-flexbox; */
  display: flex;
  justify-content: left;
  /* align-items: ; */
  margin-bottom: 10px;
  height: 5.5vh;
  width: 24vw;
}
/* magnifying glass search icon. */
.icon {
  padding: 10px;
  background: #95D0CA;
  color: white;
  height: 4.3vh;
  min-width: 2.5vw;
  text-align: center;
}

.react-select-container {
  min-width: 100%;
  margin-left: 10;
}

.friendSearch {
  /* position: relative;
  z-index: 4;
  overflow: visible; */
  /* width: 100%; */
  padding: 5px;
  outline: none;
}

/* placeholder photo: replace with profile images */
.example {
  height: 12vmin;
  width: 12vmin;
}

.test {
  float: left;
  justify-content: left;
}

/* Ensure proper sizing */
* {
  box-sizing: border-box;
}


/* Main column */
.main {
  background-color: white; /* White background color */
  border: 4px outset #98D4CD;
  border-radius: 30px;
  background-color: #7caaad;
  padding: 2vmin;
  overflow: hidden;
  margin: 0 auto;
  width: 40vmax;
}


/* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
@media screen and (max-width: 700px) {
  .header {
    float: none;
    width: 100%;
    height: 100%;
  }
}

@media only screen and (max-width: 768px) {
  .friendSearch {
    justify-content: center;
    min-width: 50vw;
    margin-left: 10;
  }
}


/* Column container */
/* .row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
} */

/* Create two unequal columns that sits next to each other */
/* Sidebar/left column */


.feed-doodle-container {
  position: relative;
  background-color: rgb(255, 255, 255);
  padding: 2vmin;
  border: 2px solid #000000;
  border-radius: 5px;
  margin-bottom: 20px;
}

.feed-doodle {
  position: absolute;
  height: 30vmax;
  width: 30vmax;
  z-index: 3;
}

.feed-bg-image {
  height: 30vmax;
  width: 30vmax;
  object-fit: cover;
  object-position: 0 0;
  z-index: 1;
}

.userName {
  /* color: #00d4bc; */
  /* text-decoration: underline; */
  cursor: pointer;
}

.userName:hover {
  text-decoration: underline;
  color: blue;
}

.caption {
  color: rgb(0, 0, 0);
  margin-left: 10px;
}
.createdAt {
  color: rgb(109, 109, 109);
  margin-left: 10px;
  font-size: small;
}

.headComment:hover {
  color: Blue;
  cursor: pointer;
}

.hideComments:hover {
  color: Blue;
  cursor: pointer;
}

.avatar {
  float: left;
  margin-left: initial;
}

.content {
  text-align: left;
  word-wrap: break-word;
}

/* Responsive layout - when the screen is less than 700px wide, make the two columns stack on top of each other instead of next to each other */
/* @media screen and (max-width: 700px) {
  .row {   
    flex-direction: column;
  }
} */

/* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
/* @media screen and (max-width: 400px) {
  .navbar a {
    float: none;
    width: 100%;
  }
} */