.App {
  text-align: center;
}

.canvas {
  z-index: 1;
  height: 100%;
  width: 100%;
}

.canvas-container {
  height: 375px;
  width: 375px;
  position: relative;
  margin: auto;
  display: block;
  background-repeat: no-repeat;
  background-size: cover;
}

.canvas-img {
  position: relative;
  height: 375px;
  width: 375px;
  display: block;
}

.Doodle-header {
  position: relative;
  margin-right: auto;
  margin-left: auto;
  top: 450px;
}

.gallery-img {
  height: 200px;
  width: 200px;
  display: inline-block;
  padding-bottom: 50px;
}

.doodle-container {
  position: relative;
}

.doodle {
  position: absolute;
  height: 200px;
  width: 200px;
  z-index: 3;
}

.bg-img {
  height: 200px;
  width: 200px;
  object-fit: cover;
  object-position: 0 0;
  z-index: 1;
}
/* Upload Button */
.Upload-header {
  position: absolute;
  left: 0;
  top: 30%;
  width: 100%;
  text-align: center;
  font-size: 18px;
}

.navlink {
  padding: 10px;
}

